#!/usr/bin/env bash

# Nvim
alias vim="nvim"
alias vifm="vifm ."
alias zvim='{ IFS= read -r d && z "$d" && vim .; } <<<'

# Pbcopy
alias c="pbcopy"

# Kubectl
alias k="kubectl"

# Clear
alias cl="clear"

# PostGreSQL
alias psqlStart="brew services start postgresql"
alias psqlStop="brew services stop postgresql"


# Tmuxinator
# alias t="tmuxinator"

alias mvi='mpv --config-dir=$HOME/.config/mvi'

# cd aliases

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Cool kids Unix tools (https://github.com/ibraheemdev/modern-unix)
alias cat="bat --theme OneHalfDark"
alias ls="eza"
alias l="eza -lah"

# Git
alias gp="git pull"
alias gc="git checkout"
alias gcd="git checkout develop"
alias gcdp="git checkout develop && git pull origin develop"
alias unstage="git clean -df && git checkout -- ."
