#!/usr/bin/env bash

# Nvim
alias vim="nvim"

# Pbcopy
alias c="pbcopy"

# Clear
alias cl="clear"

# Javascript

# React native reset
alias rni="kill $(lsof -t -i:8081); rm -rf ios/build/; react-native run-ios"

# Android development

# Compile android bachelor project to connected device or emulator.
alias buildBachelor="buildAndroid com.streambim.ar"

# Kotlin lint
alias ktlint="./gradlew ktlintFormat"

# PostGreSQL
alias psqlStart="brew services start postgresql"
alias psqlStop="brew services stop postgresql"

alias unstage="git clean -df && git checkout -- ."

alias zvim='{ IFS= read -r d && z "$d" && vim .; } <<<'
