#!/usr/bin/env bash

# Nvim
alias vim="nvim"
alias zvim='{ IFS= read -r d && z "$d" && vim .; } <<<'

# Pbcopy
alias c="pbcopy"

# Kubectl
alias k="kubectl"

# Clear
alias cl="clear"

# Kotlin lint
alias ktlint="./gradlew ktlintFormat"

# PostGreSQL
alias psqlStart="brew services start postgresql"
alias psqlStop="brew services stop postgresql"

alias unstage="git clean -df && git checkout -- ."
