#!/usr/bin/env bash

# Settings
export PURE_PROMPT_SYMBOL='⚡️'
export EDITOR="nvim"

# VIFM
export PATH="$HOME/.config/vifm/scripts:$PATH"

#export PATH="/usr/local/opt/ruby/bin:$PATH"

# Rust
#export PATH="$HOME/.cargo/bin:$PATH"

# Golang
export GOPATH="${HOME}/.go"
export GOROOT="$(brew --prefix golang)/libexec"
export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"

# MO
# export DEV_ENVPATH="${HOME}/Code/work/maritimeoptima"
# export DEFAULT_DEV_ENV=maritimeoptima
# export MO_USER=morten

# GPG
export GPG_TTY=$(tty)

# C# Mono path
# export PATH=/Library/Frameworks/Mono.framework/Versions/Current/bin/:${PATH}

export MYVIMRC="${HOME}/.config/nvim/init.vim"

export DELTA_PAGER='less -R'
export GIT_PAGER='delta'
