#!/usr/bin/env bash

# ssh
 export SSH_KEY_PATH="~/.ssh/rsa_id"

# Java
export PATH="$HOME/.jenv/bin:$PATH"
# eval "$(jenv init -)"

# https://stackoverflow.com/questions/52524112/how-do-i-install-java-on-mac-osx-allowing-version-switching

# Golang
export GOPATH="${HOME}/.go"
export GOROOT="$(brew --prefix golang)/libexec"
export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"

# MO
export DEV_ENVPATH=/Users/morten/code/work
export DEFAULT_DEV_ENV=maritimeoptima

# GPG
export GPG_TTY=$(tty)

export PURE_PROMPT_SYMBOL='⚡️'

export EDITOR="nvim"

# Command line tools
# Saml authentication
export MO_USER=morten
export SSW_SAML_USER=morten@safeseaway.com
export GSAML_USER="morten@safeseaway.com"
